.projectcard{
    background-color: #14143a !important;
}

.projectcard{
    transition: all 0.3s ease-in-out
  }
  
  .projectcard:hover {
    transform: translateY(-10px);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
  }

  .modal-card  {
    width: 100%;
  }

  @keyframes glowing {
    0% {
      box-shadow: 0 0 5px white;
    }
    50% {
      box-shadow: 0 0 15px white;
    }
    100% {
      box-shadow: 0 0 5px white;
    }
  }

  .projectcard{
    animation: glowing 2s infinite;
  }